#appLayout {
    display: none;
    overflow: hidden;
}
#main {
    overflow-x: hidden;
}

.q-toolbar {
    background-color: black;
}
.q-layout__section--marginal {
    background-color: unset;
}
.header {
    position: relative;
    width: 100vw;
    height: 200px;
    display: block;
}

.header-contact {
    position: absolute;
    width: 100vw;
    height: 200px;
    display: block;
}
.menu-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    right: 20px;
    position: absolute;
    top: 20px;
    z-index: 999999;
}

.menu-wrapper > span {
    font-size: 32px;
    cursor: pointer;
    margin: 0px 18px;
}

.menu-wrapper > span > a {
    text-decoration: none;
    color: white !important;
}

.h-fit {
 height: -webkit-fit-content;
 height: -moz-fit-content;
 height: fit-content;
}

.letter-spacing-negative {
    letter-spacing: -0.5px;
}

.pink {
    color:#E980E2;
  }
.logo {
    width: 100px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 9999;
}
.logo-cel {
    width: 30px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 6px;
}

.footer-img {
    width: 100%;
}
.navbar {
    display: none;
}

/* Custom owl css */
.owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
}

.bottom-position, .design-bottom-position {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    margin: auto;
}

/* Animation */

.animation-burbuja-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(100vw * 210 / 1938);
    height: auto;
}

.animation-burbuja-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: calc(100vw * 510 / 1938);
    height: auto;
}

.animation-third-section {  
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    background-image: linear-gradient(to top, #0c1254, #0d1459, #0e155f, #101764, #11196a);
}

.btn-animation {
    background-color: #000000;
    color:#FFFFFF;
    font-size: calc(100vw * 64 / 1938);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   
    margin: auto;
    display: block;
    border-radius: 50px;
    margin-top: 100px;
}

.animation-mainWrapper {
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}

.center {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    bottom: 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.animation-video {
    width: 100vw;
}

.animation-video-section {
    position: absolute;
    top: 0px;
}

.animation-video-title-wrapper {
    position: absolute;
    height: calc(100vw * 843.75 / 1500);
    top: 0px;
    width: 100vw;
    z-index: 9999;
}

.animation-video-title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: calc(100vw * 140 / 1938);
}

.animation-header {
    height: calc(100vw * 843.75 / 1500);
}

.animation-second-section {
    height: calc(100vw * 1037 / 1938);
    background-color: black;
    position: relative;
}

.animation-second-title {
    color: #9A38FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: calc(100vw * 62 / 1938);
    text-align: center;
    /*border-color: #9A38FF 3px;*/
}

.animation-price {
    background: transparent linear-gradient(0deg, #742BF5 34%, #E980E2 100%) 0% 0% no-repeat padding-box;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: calc(100vw * 62 / 1938);
    text-align: center;
}

.animation-first-title {
    -webkit-text-stroke: 1px #9A38FF;
    -webkit-text-fill-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: calc(100vw * 86 / 1938);
    text-align: center;
}

.animation-second-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 41px;
    /*border-color: #9A38FF 3px;*/
}

.animation-second-section-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 0px;
    bottom: 0px;
}

.animation-second-section-text-wrapper {
    margin-left: calc(100vw * 427 / 1938);
    margin-right: calc(100vw * 427 / 1938);
    text-align: center;
}

.animation-first-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: calc(100vw * 41 / 1938)
}

.animation-carrousel {
    
}

/* Contact */ 

.contact-mainWrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0px   
}

.contacto-fondo-pantalla {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.contacto-fondo-pantalla_mobile {
    display: none;
}


.contact-wrapper {
    position: absolute;
    top: 0;
    right: calc(100vw * 106 / 1937);
    bottom: 0px;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.contact-title-wrapper {
   
}

.contact-span {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.contact-title {
    font-size: 117.55px;
    color: #000000;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.custom-form-textarea {
    background: #D7D9FF 0% 0% no-repeat padding-box;
    border-radius: 47px;
    opacity: 0.47;
    width: calc(100vw * 1036 / 1937);
    height:  calc(100vw * 183 / 1937);
    font-size: 42px;
    padding-left: 3%;
}

.custom-form-input {
    background: #D7D9FF 0% 0% no-repeat padding-box;
    border-radius: 43px;
    opacity: 0.47;
    width: calc(100vw * 758 / 1937);
    height:  calc(100vw * 106 / 1937);
    font-size: 42px;
    padding-left: 3%;
}

.footer-contact-text {
    color: #D7D9FF;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 55px;
    margin: 0px;
}

.footer-contact-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    right: calc(100vw * 400 / 1937);
    bottom: 6%;
    position: absolute;
}
/* Design */

.design-third-section-text-mobile {
    display: none;
}

.design-first-section-text-mobile {
    display: none;
}

.design-second-section-fondo-blanco-mobile {
    display: none;
}

.design-mainWrapper {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #ff00ff, #a82fd1, #5e2d9a, #251e5e, #040122);    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}

.design-first-section {
    margin-bottom: 50px;
}
.design-first-section-text-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.design-first-section-text-1 {
    color: #FFFFFF;
    font-size: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 140px;
    text-align: center;
}
.design-first-section-text-2 {
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 42px;
    text-align: center;
}
.design-first-section-text-3 {
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 1;
    line-height: 25px;
    text-align: center;
}
.design-first-section-second-col {
    padding-left: 25px;
    padding-right: 25px;
}
.design-second-section {
    height: calc(100vw * 1510 / 1938);
    position: relative;
}
.design-second-section-text {
    color: #732DC3;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    position: absolute;
    top: calc(100vw * 320 / 1938);
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.design-second-section-row-wrapper {
    position: absolute;
    height: 885px;
    top: calc(100vw * 420 / 1938);
    left: 0px;
    right: 0px;
    width: calc(100vw * 1200 / 1938);
    margin: auto;
}
.design-second-section-col-text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}
.design-second-section-col-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.design-second-section-row {
    height: inherit;
}
.design-second-section-col-button {
    background-color: black;
    color: white;
    width: calc(100vw * 374 / 1938);
    height: calc(100vw * 77.5 / 1938);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50px;
    line-height: 1;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    min-width: 130px;
    max-width: 400px;
    max-height: 100px;
}
.design-second-section-fondo-blanco {
    width: 100%;
    max-height: 100%;
}
.design-second-section-burbuja {
    position: absolute;
    left: 0px;
    width: calc(100vw * 282 / 1938);
    bottom: 0px;
}
.design-third-section {
    height: calc(100vw * 774 / 1938);
    position: relative;
}
.design-third-section-text {
    color: #DDC300;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    position: absolute;
    bottom: calc(100vw * 169 / 1938);
    left: 0px;
    right: 0px;
}
.design-third-section-carousel {
    width: calc(100vw * 1053 / 1938);
    height: calc(100vw * 680 / 1938);
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: calc(100vw * 335 / 1938);
}
.design-third-section-q-carousel {
    height: 100%;
}
/* Homme */

.footer-img-mobile {
    display: none;
}

.home-third-section-details-img-mobile {
    display: none;
}

.third-section-title-mobile {
    display: none;
}

.home-card-mobile {
    display: none;
}

.home-second-section-mobile {
    display: none;
}

.home-desktop-mobile {
    display: none;
}

.home-postick-text {
    position: absolute;
    bottom: calc(100vw * 140 / 1920);
    right: calc(100vw * 80 / 1920);
}
.home-postick-text-1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    text-align: center;
    font-size: calc(100vw * 46 / 1920);
}
.home-postick-text-2 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: calc(100vw * 46 / 1920);
}
.home-mainWrapper {
    background-image: url(/images/fondo_color.png?7372d96c82d2745dabe3394801decdab);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 
}
.home-title-section-1 {
    font-size: 75px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 75px;
}
.home-title-section-2 {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 32px;
}
.home-computador {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.home-first-section {
    min-height: 1100px;
    position: relative;
    background-image: url(/images/computador.png?f667f772db05f3a068d13963d0c701c2);
    background-repeat: no-repeat;
    background-size: 1000px auto;
    background-position: right -170px top 100px;
    max-width: 1920px;
    margin: auto;
}
.home-first-section-text-wrapper {
    top: 30%;
    transform: translateY(-50%);
    position: absolute;
    left: 117px;
    margin-left: 20px;
    margin-right: 20px;
}
.home-third-section {
    background-image: url(/images/fondo_blanco.png?cf205dced440caf45546a7efe38faaa1);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-row-third-section {
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.home-third-section-small-img {
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 5px;
}
.home-third-section-big-img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.home-third-section-text {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    margin-bottom: 0px;
}
.home-third-section-text-2 {
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin-bottom: 0px;
}

.home-third-section-details-img {
    max-width: 450px;
    margin: auto;
    width: 100%;
}
.home-third-section-title {
    color:#8450FD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 84px;
    text-align: center;
    margin-bottom: 40px;
}
.home-third-section-circulo-img {
    background-image: url(/images/circulo_color-min.png?8b584e4caf284716edb54e38f01308f0);
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: calc(100vw * 1520 / 1920);
    background-position: right;
    margin-top: 40px;
    position: relative;
}
.home-third-section-circulo-img-1 {
    width: calc(100vw * 440 / 1920);
    height: 100%;
}
.home-animation-postick-1 {
    position: absolute;
    bottom: calc(100vw * 330 / 1920);
    right: calc(100vw * 782 / 1920);
    width: auto;
}
.home-third-section-circulo-img-2 {
    width: calc(100vw * 622 / 1920);
    height: 100%;
}
.home-animation-postick-2 {
    position: absolute;
    bottom: calc(100vw * 90 / 1920);
    right: calc(100vw * 100 / 1920);
    width: auto;
}
/* Web */

.web-left-arrow {
    position: absolute;
    left: 0px;
    width: calc(100vw * 15 / 500);
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.web-right-arrow {
    position: absolute;
    right: 0px;
    width: calc(100vw * 15 / 500);
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.web-third-section-circulo-mobile {
    display: none;
}

.burbuja_1_mobile {
    width: calc(100vw * 70 / 500);
    position: absolute;
    right: 0px;
    top: calc(100vw * 50 / 500);
}

.burbuja_2_mobile {
    width: calc(100vw * 125 / 500);
    position: absolute;
    left: 0px;
    top: calc(100vw * 140 / 500);
}

.web-mainWrapper {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #3500d2, #4e10d7, #621ddd, #7329e2, #8334e8, #872ed0, #882aba, #8528a5, #6d1b75, #51144b, #310f29, #10020a);
}
.web-first-section {
    margin-bottom: 20px;
    position: relative;
}
.web-first-section-text-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.web-first-section-text-1 {
    color: #FFFFFF;
    font-size: 217px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 217px;
    text-align: center;
}
.web-first-section-text-2 {
    color: #FFFFFF;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 72px;
    text-align: center;
}
.web-first-section-text-3 {
    color: #FFFFFF;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 37px;
    text-align: center;
}
.web-first-section-second-col {
    padding-left: 25px;
    padding-right: 25px;
}
.web-second-section {
   /* background-image: url('../public/img/web/fondo_blanco.png');
    background-repeat: no-repeat;
    background-size: cover;
    */
    height: calc(100vw * 1583 / 1938);
    position: relative;
    min-height: 1100px;
}
.web-second-section-text {
    color: #732DC3;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    position: absolute;
    top: calc(100vw * 350 / 1938);
    left: 111px;
}
.web-second-section-row-wrapper {
    position: absolute;
    height: 845px;
    top: calc(100vw * 460 / 1938);
    left: 0px;
    right: 0px;
    width: calc(100vw * 1703 / 1938);
    margin: auto;
}
.web-second-section-col-text {
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;
}
.web-second-section-col-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.web-second-section-row {
    height: inherit;
}
.web-second-section-col-button {
    background-color: black;
    color: white;
    width: calc(100vw * 374 / 1938);
    height: calc(100vw * 77.5 / 1938);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50px;
    line-height: 1;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    max-width: 400px;
    max-height: 100px;
}
.web-second-section-fondo-blanco {
    width: 100%;
    max-height: 100%;
}
.web-second-section-burbuja {
    position: absolute;
    left: 0px;
    width: calc(100vw * 486 / 1938);
    top: calc(100vw * -100 / 1938);
}
.web-third-section {
    height: calc(100vw * 860 / 1938);
    padding-bottom: 125px;
    padding-left: 125px;
    padding-right: 125px;
    position: relative;
    overflow: hidden;
}
.web-third-section-div {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.19;
    width: 100%;
    height: 100%;
    max-height: 85%;
}
.web-third-section-text {
    color: #FFFFFF;
    font-size: 99px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 99px;
}
.web-third-section-circulo {
    width: calc(100vw * 694 / 1938);
    position: absolute;
    /*bottom: calc(100vw * -250 / 1938);*/
    right: calc(100vw * 297 / 1938);
    bottom: calc(100vw * -400 / 1938);
}

/* Us */

  .us-mainWrapper {
    background-image: linear-gradient(to bottom, #000000 35%, #9a38ff 100%);
    padding: 0px
  }
  
  .us-title {
    font-size: 141px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 141px;
    margin-bottom: 50px;
  }
  
  .us-text-wrapper {
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    width: calc(100vw * 1600 / 1938);
    margin: auto;
    display: block;
  }
  
  .us-second-section {
    min-height: calc(100vw * 1935 / 1938);
    /*min-height: calc(100vh * 1935  / 3293);*/
    position: relative;
    overflow: hidden;
  }
  
  .us-personaje-1 {
    width: calc(100vw * 495 / 1938);
    position: absolute;
    bottom: calc(100vw * 140 / 1938);;
    left: calc(100vw * 183 / 1938);
  }
  
  .us-personaje-2 {
    width: calc(100vw * 503 / 1938);
    position: absolute;
    bottom: calc(100vw * -485 / 1938);
    left: calc(100vw * 681 / 1938);
  }
  
  .us-personaje-3 {
    width: calc(100vw * 573 / 1938);
    position: absolute;
    bottom: calc(100vw * -520 / 1938);
    right: calc(100vw * 56 / 1938);
  }
  
  .us-globo-1 {
    width: calc(100vw * 653 / 1938);
    position: absolute;
    bottom: calc(100vw * 955 / 1938);;
    left: calc(100vw * 114 / 1938);
  }
  
  .us-globo-2 {
    width: calc(100vw * 548 / 1938);
    position: absolute;
    bottom: calc(100vw * 881 / 1938);;
    left: calc(100vw * 744 / 1938);
  }
  
  .us-globo-3 {
    width: calc(100vw * 566 / 1938);
    position: absolute;
    bottom: calc(100vw * 904 / 1938);;
    right: calc(100vw * 56 / 1938);
  }
  
  .us-mesa {
    width: calc(100vw * 1789 / 1938);
    position: absolute;
    bottom: 0px;
    left: calc(100vw * 56 / 1938);
  }

  @media (max-width: 2000px) {
    .design-second-section-row-wrapper {
        top: 300px;
    }
  }

  @media (max-width: 1850px) {
    .web-second-section-row-wrapper {
        height: 700px;
   }
    .web-second-section-col-text {
        font-size: 32px;
   }
    .web-second-section-text {
        font-size: 60px;
   }
    .web-second-section-col-button {
        font-size: 45px;
        margin-bottom: 40px 
   }
   /*
   .design-second-section-col-text {
    font-size: 32px;
   }
   */
   .design-second-section-row-wrapper {
    top: 250px;
}
    
}

@media (max-width: 1800px) {
    .home-title-section-1 {
        font-size: 60px;
        line-height: 60px;
   }
    .home-first-section {
        background-size: 800px auto;
        max-width: 1550px;
        background-position: right -170px top 150px;
        min-height: 900px;
   }
    .home-first-section-text-wrapper {
        left: 70px;
   }
    .home-row-third-section {
        padding-top: 200px;
   }
}
@media (max-width: 1680px) {
    .design-second-section-row-wrapper {
        height: 690px;
        top: 355px;
   }
    .design-second-section-text {
        font-size: 60px;
   }
    .design-second-section-col-button {
        font-size: 45px;
        margin-bottom: 25px 
   }
}

@media (max-width: 1550px) {
    
    .button-welcome {
        margin-top: 35px;
    }

    .design-second-section-fondo-blanco {
        height: 1250px;
    }

    .design-second-section {
        height: 1250px;
    }
}

@media (max-width: 1500px) {
    .web-second-section-fondo-blanco {
        height: 100%;
        width: auto;
      }
    .design-first-section-text-1 {
        font-size: 100px;
        line-height: 100px;
   }
    .design-first-section-text-2 {
        font-size: 41px;
        line-height: 51px;
   }
    .design-first-section-text-3 {
        font-size: 22px;
        line-height: 26px;
   }
    .design-second-section-row-wrapper {
        height: 700px;
   }
   /*
    .design-second-section-col-text {
        font-size: 28px;
   }
   */
    .design-second-section-text {
        font-size: 48px;
   }
    .design-third-section-text {
        font-size: 48px;
        line-height: 48px;
   }
   /*
    .home-third-section-text {
        font-size: 30px;
        line-height: 30px;
   }
   */
    .home-third-section-details-img {
        max-width: 300px;
   }
    .web-first-section-text-1 {
        font-size: 154px;
        line-height: 154px;
   }
    .web-first-section-text-2 {
        font-size: 51px;
        line-height: 51px;
   }
    .web-first-section-text-3 {
        font-size: 26px;
        line-height: 26px;
   }
    .web-second-section-row-wrapper {
        height: 630px;
   }
    .web-second-section-col-text {
        font-size: 28px;
   }
    .web-second-section-text {
        font-size: 48px;
   }
   .us-title {
    font-size: 100px;
    line-height: 100px;
  }

  .us-text-wrapper {
    font-size: 30px;
  }
}

@media (max-width: 1350px) {
    .design-second-section-row-wrapper {
        height: 750px;
    }
}


@media (max-width: 1300px) {
    .design-bottom-position {
        bottom: unset;
        top: 0px;
    }

    .design-second-section-col-button {
        min-width: 250px;
        min-height: 50px;
        font-size: 26px;
    }

}

@media (max-width: 1200px) {
    .design-second-section-col-button {
        height: unset;
   }
    .design-second-section-fondo-blanco {
        width: auto;
        max-height: unset;
        height: 100%;
   }
    .design-second-section-row-wrapper {
        height: 610px;
        top: 400px;
   }
    .design-first-section-text-1 {
        font-size: 70px;
        line-height: 70px;
   }
    .design-first-section-text-2 {
        font-size: 26px;
        line-height: 36px;
   }
    .design-first-section-text-3 {
        font-size: 16px;
        line-height: 18px;
   }
    .web-first-section-text-1 {
        font-size: 109px;
        line-height: 109px;
   }
    .web-first-section-text-2 {
        font-size: 36px;
        line-height: 36px;
   }
    .web-first-section-texwebt-3 {
        font-size: 18px;
        line-height: 18px;
   }

   .design-second-section-text {
       top: 260px;
   }
   
}
@media (max-width: 1020px) {
    .design-first-section-col-1 {
        margin-bottom: 25px;
   }
    .mySwiper {
        display: block;
        top: 100px;
        height: 100%;
        text-align: center;
   }
    .design-third-section-text {
        bottom: calc(100vw * 100 / 1938) 
   }
    .web-first-section-col-1 {
        margin-bottom: 25px;
   }

   .design-third-section-carousel {
    width: calc(100vw * 800 / 1025);
    bottom: calc(100vw * 400 / 1025);
   }
  
}
@media (max-width: 1000px) {

    .design-second-section-text {
        line-height: 50px;
    }


    .web-third-section-div {
        max-height: 400px;
    }

    .web-third-section-text {
        font-size: 70px;
        text-align: center;
    }

    .web-third-section-circulo {
        width: 400px;
        bottom: -150px;
        right: -33px;
    }
    
    .web-third-section {
        min-height: 650px;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        overflow: hidden;
        margin-bottom: 0px;
    }

    .web-second-section-col-button {
        width: 200px;
        height: 50px;
        margin-bottom: 10px;
    }

    .web-second-section-burbuja {
        width: 220px;
    }

    .web-second-section-text {
        font-size: 35px;
        line-height: 35px;
        top: 200px;
        text-align: center;
        left: 0px;
        right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .web-second-section-row-wrapper {
        height: 585px;
        bottom: 110px;
    }
    .bottom-position {
        left: 0px;
        right: 0px;
        bottom: unset;
        top: 0px;
    }
    .home-row-third-section {
        padding-top: 150px;
   }
    .home-first-section {
        background-position: center bottom -165px;
        min-height: 1000px;
   }
    .home-first-section-text-wrapper {
        max-width: 80%;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
   }
   .us-title {
    font-size: 70px;
    line-height: 70px;
  }

  .us-text-wrapper {
    font-size: 21px;
  }

}
@media (max-width: 768px) {

    .design-first-section-col-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .design-second-section-col-button {
        min-width: 200px;
        min-height: 45px;
        font-size: 26px;
    }

    .design-second-section-col-text {
        font-size: 16px;
        line-height: 14px;
    }



    .design-second-section-text {
        top: 200px;
    }

    .web-third-section-text {
        font-size: 45px;
    }

    .web-second-section-row-wrapper {
        bottom: -35px;
    }

    .design-second-section-row-wrapper {
        top: 300px;
   }
    .design-first-section-text-1 {
        font-size: 78px;
        line-height: 78px;
        padding-top: 25px;
   }
    .design-first-section-text-2 {
        font-size: 24px;
        line-height: 30px;
   }
    .design-first-section-text-3 {
        font-size: 17px;
        line-height: 24px;
   }
    .design-third-section-text {
        font-size: 35px;
        line-height: 35px;
   }
    .design-second-section {
        height: 1000px;
   }
    .web-first-section-text-1 {
        font-size: 78px;
        line-height: 78px;
        padding-top: 25px;
   }
    .web-first-section-text-2 {
        font-size: 26px;
        line-height: 26px;
   }
    .web-first-section-text-3 {
        font-size: 14px;
        line-height: 14px;
   }
   .us-title {
    font-size: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .us-text-wrapper {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 710px) {

    .design-second-section-text {
        font-size: 30px;
        line-height: 35px;
   }
   
    .mySwiper {
        top: 130px;
   }
}
@media (max-width: 600px) {
    .navbar {
        display: block;
   }
    .header {
        display: none;
   }

   .header-contact  {
       display: none;
   }

    .design-third-section-carousel {
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
        width: 100%;
   }
    .home-third-section-title {
        margin-bottom: 0px;
   }
    .home-third-section-big-img {
        margin-top: 30px;
   }
    .home-third-section-small-img {
        margin-top: 20px;
   }
    .home-third-section-title {
        font-size: 60px;
   }
    .home-first-section {
        background-size: 550px auto;
   }
    .home-first-section {
        background-position: center bottom -100px;
        min-height: 750px;
   }
    .home-title-section-1 {
        font-size: 45px;
        line-height: 45px;
   }
    .home-title-section-2 {
        font-size: 20px;
        line-height: 20px;
   }
   /*
    .home-third-section-text {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        line-height: 30px;
   }
   */
    .home-third-section-details-img {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 255px;
   }
    .home-third-section-circulo-img-2 {
        width: calc(100vw * 1000 / 1920);
   }
    .home-animation-postick-2 {
        position: absolute;
        bottom: calc(100vw * 250 / 1920);
        right: calc(100vw * 150 / 1920);
   }
    .home-postick-text {
        bottom: calc(100vw * 250 / 1920);
        right: calc(100vw * 150 / 1920);
   }
    .home-postick-text-1, .home-postick-text-2 {
        font-size: calc(100vw * 70 / 1920);
   }
    .home-animation-postick-1 {
        display: none;
   }
    .home-third-section-small-img {
        width: 160px;
   }
    .home-third-section-big-img {
        width: 220px;
   }
}


@media (max-width: 576px) {

    .web-first-section-second-col {
        padding-left: 50px;
        padding-right: 50px;
    }

    .design-first-section-second-col {
        padding-left: 50px;
        padding-right: 50px;
    }

    .web-flecha-izquierda,
    .design-flecha-izquierda {
        position: absolute;
        width: calc(100vw * 16 / 500) !important;
        left: calc(100vw * 76 / 500);
        top: 0px;
        bottom: 0px;
        margin: auto;
        cursor: pointer;
    }

    .web-flecha-derecha,
    .design-flecha-derecha {
        position: absolute;
        width: calc(100vw * 16 / 500) !important;
        right: calc(100vw * 76 / 500);
        top: 0px;
        bottom: 0px;
        margin: auto;
        cursor: pointer;
    }

    .container-carrousel-flechas {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        display: block;
        padding-left: 50px;
        padding-right: 50px !important;
        position: relative;
    }

    .us-mainWrapper {
        background: unset;
        background-image: unset;
    }
    
    .bodyUs {
        background-image: linear-gradient(to bottom, #000000 35%, #9a38ff 100%);
        padding: 0px
    }

    .animaion-sections-wrapper {
        background: linear-gradient(to bottom, #000000, #0e0005, #15000f, #180018, #170021, #16012a, #110234, #01053f, #00074a, #000755, #03045f, #0c006a);
    }

    .animation-second-section-text-wrapper {
        width: calc(100vw * 372 / 500);
        margin: auto;
        text-align: left;
    }

    /* Web */
    /*
     
    .web-first-section-text-1 {
        font-size: 104px;
        line-height: 106px;
        letter-spacing: 1px;
    }

    .web-first-section-text-2 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .web-first-section-text-3 {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 1px;
    }
    */

    .web-third-section-text-mobile {
        color: white;
        position: absolute;
        bottom: 0px;
        left: calc(100vw * 24 / 500);
        font-size: calc(100vw * 25 / 500);;
        margin-bottom: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        opacity: 0.62;
    }
    
    .web-mainWrapper {
       background: unset;
    }

    .bodyWeb {
        background-repeat: no-repeat;
        padding: 0px;
        background-image: url(/images/fondo_mobile.png?3198b49a217bbb73e63438b4e65140d5);
        background-size: cover;
    }

    .web-third-section-div {
        width: calc(100vw * 295 / 500);
        margin: auto;
        height: calc(100vw * 216 / 500);
    }

    .web-third-section {
        min-height: calc(100vw * 246 / 500);
    }
    
    .web-third-section-circulo {
        display: none;
    }

    .web-third-section-circulo-mobile {
        display: block;
        width: calc(100vw * 167 / 500);
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .web-third-section-text {
        font-size: calc(100vw * 25 / 500);
        line-height: calc(100vw * 25 / 500);
    }
    
    .web-first-section-text-1 {
        font-size: calc(100vw * 104 / 500);
        line-height: calc(100vw * 106 / 500);
        letter-spacing: 1px;
    }

    .web-first-section-text-2 {
        font-size: calc(100vw * 18 / 500);
        line-height: calc(100vw * 20 / 500);
        letter-spacing: 1px;
    }

    .web-first-section-text-3 {
        font-size: calc(100vw * 13 / 500);
        line-height: calc(100vw * 15 / 500);
        letter-spacing: 1px;
    }

    .web-second-section-fondo-blanco {
        height: calc(100vw * 512 / 500);
        width: 100%;
    }

    .web-second-section-text {
        font-size: 18px;
        color: white;
        top: -10px;
    }

    .web-second-section-col-button {
        width: 95px;
        height: 24px;
        min-width: unset;
        min-height: unset;
        font-size: 16px;
    }

    .web-second-section-col-text {
        font-size: 13px;
        line-height: 10px;
    }

    .web-second-section {
        min-height: unset;
        height: 400px;
    }

    .web-second-section-row-wrapper {
        bottom: unset;
        top: 0px;
        height: 400px;
    }

    .web-align-1 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 155px;
    }

    .web-align-2 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 205px;
    }

    .web-align-3 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 255px;
    }
    /* Se acaba web */

    /* Animation */

    .animation-third-section {  
        padding-bottom: 25px;
        background-image: unset;
    }
    
    .btn-animation {
        margin-top: 25px;
    }

    .animation-video-section {
        position: unset;
    }
    .animation-video {
        width: 100%;
    }

    .animation-first-title {
        font-size: calc(100vw * 28 / 500);
        line-height:calc(100vw * 30 / 500);
        margin-bottom: 2px;
    }

    .animation-second-title {
        font-size: calc(100vw * 20 / 500);
        line-height:calc(100vw * 22 / 500);
    }

    .animation-first-text {
        font-size: calc(100vw * 15 / 500);
        line-height: calc(100vw * 18 / 500);
        font-weight: normal;
    }

    .animation-second-text {
        font-size: calc(100vw * 15 / 500);
        line-height: calc(100vw * 18 / 500);
    }
    
    .animation-second-section {
        height: 270px;
        background-color: unset;
    }

    /* Design */

    .design-third-section-text-mobile {
        color: #DDC300;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 23px;
        display: block;
    }

    .design-third-section-text {
        display: none;
    }

    .design-second-section {
        height: 425px;
    }

    .design-third-section {
        height: 455px;
    }
    .design-third-section-carousel {
        bottom: 45px;
        height: auto;
    }

    .design-first-section {
        margin-bottom: 0px;
    }

    .design-first-section-text-mobile {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 19px;
        text-align: center;
        display: block;
        margin-top: 35px;
    }

    #carouselDesign2 {
        width: 100%;
        margin: auto;
    }

    .design-align-1 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 225px;
    }

    .design-align-2 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 300px;
    }

    .design-align-3 {
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        height: 350px;
    }

    .design-second-section-text {
        display: none;
    }
    
    .design-second-section-row-wrapper {
        top: 25px;
        height: 355px;
    }

    .design-second-section-col-button {
        width: 95px;
        height: 24px;
        min-width: unset;
        min-height: unset;
        font-size: 16px;
    }

    .design-second-section-col-text {
        font-size: 13px;
        line-height: 10px;
    }

    .design-second-section-fondo-blanco {
        display: none;
    }

    .design-second-section-fondo-blanco-mobile {
        display: block;
        width: 100%;
        height: 420px;
    }

    .design-mainWrapper {
        /*background-image: linear-gradient(to bottom, #ff00ff, #ee17f7, #dd22ef, #cd28e6, #bd2cdd, #af2ed5, #a12fcd, #9430c4, #8630ba, #7830af, #6b2fa5, #5e2d9a);    */
        background-image: unset;
    }

    .bodyDesign {
        background-repeat: no-repeat;
        padding: 0px;
        background-image: linear-gradient(to bottom, #ff00ff, #ee17f7, #dd22ef, #cd28e6, #bd2cdd, #af2ed5, #a12fcd, #9430c4, #8630ba, #7830af, #6b2fa5, #5e2d9a);
        background-size: cover;
    }

    .design-first-section-text-1 {
        font-size: 71px;
        line-height: 73px;
        letter-spacing: 1px;
    }

    .design-first-section-text-2 {
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 1px;
        margin-bottom: 4px;
    }

    .design-first-section-text-3 {
        font-size: 21px;
        line-height: 23px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    /* Se acaba design */

    .btn-contact {
        width: calc(100vw * 475 / 1920);
        height: calc(100vw * 143 / 1920);
        background-color: #000000;
        color: #D6D8FF;
        font-size: calc(100vw * 76 / 1920);
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        line-height: 1px;
        margin: auto;
        display: block;
        margin-top: calc(100vw * 137 / 1920);
        border-radius: calc(100vw * 34 / 1920);;
    }

    .footer-contact-wrapper {
        right: 0px;
        left: 0px;
        margin: auto;
        bottom: calc(100vw * 695 / 1920);
    }
    
    .footer-contact-text {
        font-size: calc(100vw * 91 / 1920);
    }

    .custom-form-textarea {
        font-size: calc(100vw * 87 / 1920);
        width: calc(100vw * 1590 / 1920);
        height: calc(100vw * 385 / 1920);
        border-radius: calc(100vw * 47 / 1920);
    }

    .custom-form-input {
        font-size: calc(100vw * 87 / 1920);
        width: calc(100vw * 1590 / 1920);
        height: calc(100vw * 222 / 1920);
        border-radius: calc(100vw * 43 / 1920);
    }

    .contact-span {
        font-size: calc(100vw * 76 / 1920);
    }

    .contact-wrapper {
        right: 0px;
        left: 0px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        top: calc(100vw * 400 / 1920);
        bottom: unset;
    }

    .contact-title {
        font-size: calc(100vw * 180 / 1920);
        letter-spacing: 2px;
    }

    .contacto-fondo-pantalla {
        display: none;
    }

    .contacto-fondo-pantalla_mobile {
        position: absolute;
        height: calc(100vh - 56px);
        width: 100%;
        display: none;
    }

    .contact-mainWrapper {
        height: calc(100vh - 56px);   
    }

    .mb-60-m {
        margin-bottom: 60px;
    }
    
    .us-title {
        font-size: calc(100vw * 208 / 1920);
        padding-top: 60px;
    }

    .home-postick-text {
        bottom: calc(100vw * 300 / 1920);
        right: calc(100vw * 260 / 1920);
    }

    .home-postick-text-1 {
        font-size: calc(100vw * 90 / 1920);
    }

    .home-postick-text-2 {
        font-size: calc(100vw * 90 / 1920);
    }

    .home-animation-postick-2 {
        position: absolute;
        bottom: calc(100vw * 450 / 1920);
        right: calc(100vw * 110 / 1920);
    }

    .home-third-section-circulo-img-2 {
        width: calc(100vw * 1350 / 1920);
        margin-top: 0px;
    }

    .home-third-section-circulo-img {
        background-size: 76%;
        min-height: calc(100vw * 1410 / 1920);
        margin-top: 0px;
    }

    .footer-img-mobile {
        display: block;
        width: calc(100vw * 850 / 1920);
        position: absolute;
        bottom: 0px;
    }

    .footer-img {
        display: none;
    }
    
    .home-third-section-details-img {
        display: none;
    }

    .home-third-section-details-img-mobile {
        display: block;
        width: calc(100vw * 474 / 1920);
        margin: auto;
        display: block;
    }

    .home-first-section-text-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        max-width: unset;
    }

    .home-title-section-1 {
        font-size: calc(100vw * 107 / 1928);
        line-height: 11px;
    }

    .home-title-section-2 {
        font-size: calc(100vw * 47 / 1928); 
        letter-spacing: 1px;
    }

    .home-third-section {
        background-image: url(/images/fondo_blanco_mobile.png?8caaac466efe3eee4ab92fbce159e196);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home-first-section {
        background-image: unset;
        min-height: calc(100vw * 3450 / 1920);
    }

    .home-mainWrapper {
        background-image: unset;
    }

    .bodyHome {
        background-image: url(/images/fondo_color.png?7372d96c82d2745dabe3394801decdab);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bodyContact {
        background-image: url(/images/fondo_contacto_mobile.png?9ff4a674400fd4a23407844662792204);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bodyAnimation {
        background-color: black !important;
    }

    .home-second-section-desktop {
        display: none;
    }

    .home-second-section-mobile {
        display: block;
        position: absolute;
        bottom: 0px;
        padding-left: calc(100vw * 179 / 1928);
        padding-right: calc(100vw * 179 / 1928);
    }

    .home-desktop-mobile {
        display: block;
        width: calc(100vw * 520 / 1928);
        position: absolute;
        right: calc(100vw * 66 / 1928);
        top: calc(100vw * 580 / 1928);
    }

    .home-card-desktop {
        display: none;
    }

    .home-card-mobile {
        display: block;
    }

    .home-first-section-text-wrapper {
        top: 70px;
    }

    .third-section-title-mobile {
        display: block;
        color: #1D1D1B;
        font-size: calc(100vw * 145 / 1920);
        text-align: center;
        margin: 0px;
        margin-top: calc(100vw * 115 / 1920);
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }

    .home-third-section-title {
        display: none;
    }
    
    .home-row-third-section {
        padding-top: 25px;
    }

    .home-third-section-small-img {
        width: calc(100vw * 351 / 1920);
    }

    .home-third-section-text-2 {
        font-size: calc(100vw * 53 / 1920);
        line-height: calc(100vw * 53 / 1920);
    }

    .home-third-section-text {
        font-size: calc(100vw * 53 / 1920);
        line-height: calc(100vw * 53 / 1920);
    }

    .home-third-section-big-img {
        width: calc(100vw * 492 / 1920);
        margin-bottom: 8px;
        margin-top: 20px;
    }
}
/*
@media (max-width: 500px) {

    .design-third-section-text {
        font-size: 23px;
        line-height: 22px;
   }
   .design-second-section-row-wrapper {
       height: 480px;
   }

   .design-second-section-row-wrapper {
       top: 350px;
   }
   
   .design-second-section-text {
       top: 220px;
   }
}
*/

