#appLayout {
    display: none;
    overflow: hidden;
}
#main {
    overflow-x: hidden;
}

.q-toolbar {
    background-color: black;
}
.q-layout__section--marginal {
    background-color: unset;
}
.header {
    position: relative;
    width: 100vw;
    height: 200px;
    display: block;
}

.header-contact {
    position: absolute;
    width: 100vw;
    height: 200px;
    display: block;
}
.menu-wrapper {
    width: fit-content;
    right: 20px;
    position: absolute;
    top: 20px;
    z-index: 999999;
}

.menu-wrapper > span {
    font-size: 32px;
    cursor: pointer;
    margin: 0px 18px;
}

.menu-wrapper > span > a {
    text-decoration: none;
    color: white !important;
}

.h-fit {
 height: fit-content;
}

.pink {
    color:#9A38FF;
  }
.logo {
    width: 100px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 9999;
}
.logo-cel {
    width: 30px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 6px;
}

.footer-img {
    width: 100%;
}
.navbar {
    display: none;
}

/* Custom owl css */
.owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
}

.bottom-position, .design-bottom-position {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    margin: auto;
}

/* Animation */

.animation-second-section {
    height: calc(100vw * 1037 / 1938);
    background-color: black;
    position: relative;
}

.animation-second-title {
    color: #9A38FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 62px;
    text-align: center;
    /*border-color: #9A38FF 3px;*/
}

.animation-first-title {
    color: #9A38FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 86px;
    text-align: center;
}

.animation-second-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 41px;
    /*border-color: #9A38FF 3px;*/
}

.animation-second-section-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    height: fit-content;
    top: 0px;
    bottom: 0px;
}

.animation-first-text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 41px;
}

.animation-carrousel {
    
}

/* Contact */ 

.contact-mainWrapper {
    width: 100%;
    height: 100vh;
    position:   relative;
    padding: 0px   
}

.contacto-fondo-pantalla {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.contact-wrapper {
    position: absolute;
    top: 0;
    right: calc(100vw * 106 / 1937);
    bottom: 0px;
    margin: auto;
    height: fit-content;
}

.contact-title-wrapper {
   
}

.contact-span {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.contact-title {
    font-size: 117.55px;
    color: #000000;
    font-weight: bold;
    font-family: 800;
    font-family: 'Montserrat', sans-serif;
}

.custom-form-textarea {
    background: #D7D9FF 0% 0% no-repeat padding-box;
    border-radius: 47px;
    opacity: 0.47;
    width: calc(100vw * 1036 / 1937);
    height:  calc(100vw * 183 / 1937);
    font-size: 42px;
    padding-left: 3%;
}

.custom-form-input {
    background: #D7D9FF 0% 0% no-repeat padding-box;
    border-radius: 43px;
    opacity: 0.47;
    width: calc(100vw * 758 / 1937);
    height:  calc(100vw * 106 / 1937);
    font-size: 42px;
    padding-left: 3%;
}

.footer-contact-text {
    color: #D7D9FF;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 55px;
    margin: 0px;
}

.footer-contact-wrapper {
    width: fit-content;
    right: calc(100vw * 400 / 1937);
    bottom: 6%;
    position: absolute;
}
/* Design */
.design-mainWrapper {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #ff00ff, #a82fd1, #5e2d9a, #251e5e, #040122);    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}
.design-first-section {
    margin-bottom: 50px;
}
.design-first-section-text-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.design-first-section-text-1 {
    color: #FFFFFF;
    font-size: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 140px;
    text-align: center;
}
.design-first-section-text-2 {
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 42px;
    text-align: center;
}
.design-first-section-text-3 {
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 1;
    line-height: 25px;
    text-align: center;
}
.design-first-section-second-col {
    padding-left: 25px;
    padding-right: 25px;
}
.design-second-section {
    height: calc(100vw * 1510 / 1938);
    position: relative;
}
.design-second-section-text {
    color: #732DC3;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    position: absolute;
    top: calc(100vw * 320 / 1938);
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.design-second-section-row-wrapper {
    position: absolute;
    height: 885px;
    top: calc(100vw * 420 / 1938);
    left: 0px;
    right: 0px;
    width: calc(100vw * 1200 / 1938);
    margin: auto;
}
.design-second-section-col-text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}
.design-second-section-col-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: fit-content;
}
.design-second-section-row {
    height: inherit;
}
.design-second-section-col-button {
    background-color: black;
    color: white;
    width: calc(100vw * 374 / 1938);
    height: calc(100vw * 77.5 / 1938);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50px;
    line-height: 1;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    min-width: 130px;
    max-width: 400px;
    max-height: 100px;
}
.design-second-section-fondo-blanco {
    width: 100%;
    max-height: 100%;
}
.design-second-section-burbuja {
    position: absolute;
    left: 0px;
    width: calc(100vw * 282 / 1938);
    bottom: 0px;
}
.design-third-section {
    height: calc(100vw * 774 / 1938);
    position: relative;
}
.design-third-section-text {
    color: #DDC300;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    position: absolute;
    bottom: calc(100vw * 169 / 1938);
    left: 0px;
    right: 0px;
}
.design-third-section-carousel {
    width: calc(100vw * 1053 / 1938);
    height: calc(100vw * 680 / 1938);
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: calc(100vw * 335 / 1938);
}
.design-third-section-q-carousel {
    height: 100%;
}
/* Homme */
.home-postick-text {
    position: absolute;
    bottom: calc(100vw * 140 / 1920);
    right: calc(100vw * 80 / 1920);
}
.home-postick-text-1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    text-align: center;
    font-size: calc(100vw * 46 / 1920);
}
.home-postick-text-2 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: calc(100vw * 46 / 1920);
}
.home-mainWrapper {
    background-image: url('../../public/images/fondo_color.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 
}
.home-title-section-1 {
    font-size: 75px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 75px;
}
.home-title-section-2 {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 32px;
}
.home-computador {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.home-first-section {
    min-height: 1100px;
    position: relative;
    background-image: url('../../public/images/computador.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    background-position: right -170px top 100px;
    max-width: 1920px;
    margin: auto;
}
.home-first-section-text-wrapper {
    top: 30%;
    transform: translateY(-50%);
    position: absolute;
    left: 117px;
    margin-left: 20px;
    margin-right: 20px;
}
.home-third-section {
    background-image: url('../../public/images/fondo_blanco.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.home-row-third-section {
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.home-third-section-small-img {
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
.home-third-section-big-img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.home-third-section-text {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.home-third-section-text-2 {
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.home-third-section-details-img {
    max-width: 450px;
    margin: auto;
    width: 100%;
}
.home-third-section-title {
    color:#8450FD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 84px;
    text-align: center;
    margin-bottom: 40px;
}
.home-third-section-circulo-img {
    background-image: url('../../public/images/circulo_color-min.png');
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: calc(100vw * 1520 / 1920);
    background-position: right;
    margin-top: 40px;
    position: relative;
}
.home-third-section-circulo-img-1 {
    width: calc(100vw * 440 / 1920);
    height: 100%;
}
.home-animation-postick-1 {
    position: absolute;
    bottom: calc(100vw * 330 / 1920);
    right: calc(100vw * 782 / 1920);
    width: auto;
}
.home-third-section-circulo-img-2 {
    width: calc(100vw * 622 / 1920);
    height: 100%;
}
.home-animation-postick-2 {
    position: absolute;
    bottom: calc(100vw * 90 / 1920);
    right: calc(100vw * 100 / 1920);
    width: auto;
}
/* Web */
.web-mainWrapper {
   /*background-image: url('../public/img/web/fondo.png');
   */
   /*background-color: red;
   */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #3500d2, #4e10d7, #621ddd, #7329e2, #8334e8, #872ed0, #882aba, #8528a5, #6d1b75, #51144b, #310f29, #10020a);
}
.web-first-section {
    margin-bottom: 50px;
}
.web-first-section-text-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.web-first-section-text-1 {
    color: #FFFFFF;
    font-size: 217px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 217px;
    text-align: center;
}
.web-first-section-text-2 {
    color: #FFFFFF;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 72px;
    text-align: center;
}
.web-first-section-text-3 {
    color: #FFFFFF;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.61;
    line-height: 37px;
    text-align: center;
}
.web-first-section-second-col {
    padding-left: 25px;
    padding-right: 25px;
}
.web-second-section {
   /* background-image: url('../public/img/web/fondo_blanco.png');
    background-repeat: no-repeat;
    background-size: cover;
    */
    height: calc(100vw * 1583 / 1938);
    position: relative;
    min-height: 1100px;
}
.web-second-section-text {
    color: #732DC3;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 72px;
    position: absolute;
    top: calc(100vw * 350 / 1938);
    left: 111px;
}
.web-second-section-row-wrapper {
    position: absolute;
    height: 845px;
    top: calc(100vw * 460 / 1938);
    left: 0px;
    right: 0px;
    width: calc(100vw * 1703 / 1938);
    margin: auto;
}
.web-second-section-col-text {
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;
}
.web-second-section-col-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: fit-content;
}
.web-second-section-row {
    height: inherit;
}
.web-second-section-col-button {
    background-color: black;
    color: white;
    width: calc(100vw * 374 / 1938);
    height: calc(100vw * 77.5 / 1938);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50px;
    line-height: 1;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    max-width: 400px;
    max-height: 100px;
}
.web-second-section-fondo-blanco {
    width: 100%;
    max-height: 100%;
}
.web-second-section-burbuja {
    position: absolute;
    left: 0px;
    width: calc(100vw * 486 / 1938);
    top: calc(100vw * -100 / 1938);
}
.web-third-section {
    height: calc(100vw * 860 / 1938);
    padding-bottom: 125px;
    padding-left: 125px;
    padding-right: 125px;
    position: relative;
    overflow: hidden;
}
.web-third-section-div {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.19;
    width: 100%;
    height: 100%;
    max-height: 85%;
}
.web-third-section-text {
    color: #FFFFFF;
    font-size: 99px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 99px;
}
.web-third-section-circulo {
    width: calc(100vw * 694 / 1938);
    position: absolute;
    /*bottom: calc(100vw * -250 / 1938);*/
    right: calc(100vw * 297 / 1938);
    bottom: calc(100vw * -400 / 1938);
}

/* Us */

  .us-mainWrapper {
    background-image: linear-gradient(to bottom, #000000 35%, #9a38ff 100%);
    padding: 0px
  }
  
  .us-title {
    font-size: 141px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 141px;
    margin-bottom: 50px;
  }
  
  .us-text-wrapper {
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    width: calc(100vw * 1600 / 1938);
    margin: auto;
    display: block;
  }
  
  .us-second-section {
    min-height: calc(100vw * 1935 / 1938);
    /*min-height: calc(100vh * 1935  / 3293);*/
    position: relative;
    overflow: hidden;
  }
  
  .us-personaje-1 {
    width: calc(100vw * 495 / 1938);
    position: absolute;
    bottom: calc(100vw * 140 / 1938);;
    left: calc(100vw * 183 / 1938);
  }
  
  .us-personaje-2 {
    width: calc(100vw * 503 / 1938);
    position: absolute;
    bottom: calc(100vw * -485 / 1938);
    left: calc(100vw * 681 / 1938);
  }
  
  .us-personaje-3 {
    width: calc(100vw * 573 / 1938);
    position: absolute;
    bottom: calc(100vw * -520 / 1938);
    right: calc(100vw * 56 / 1938);
  }
  
  .us-globo-1 {
    width: calc(100vw * 653 / 1938);
    position: absolute;
    bottom: calc(100vw * 955 / 1938);;
    left: calc(100vw * 114 / 1938);
  }
  
  .us-globo-2 {
    width: calc(100vw * 548 / 1938);
    position: absolute;
    bottom: calc(100vw * 881 / 1938);;
    left: calc(100vw * 744 / 1938);
  }
  
  .us-globo-3 {
    width: calc(100vw * 566 / 1938);
    position: absolute;
    bottom: calc(100vw * 904 / 1938);;
    right: calc(100vw * 56 / 1938);
  }
  
  .us-mesa {
    width: calc(100vw * 1789 / 1938);
    position: absolute;
    bottom: 0px;
    left: calc(100vw * 56 / 1938);
  }

  @media (max-width: 2000px) {
    .design-second-section-row-wrapper {
        top: 300px;
    }
  }

  @media (max-width: 1850px) {
    .web-second-section-row-wrapper {
        height: 700px;
   }
    .web-second-section-col-text {
        font-size: 32px;
   }
    .web-second-section-text {
        font-size: 60px;
   }
    .web-second-section-col-button {
        font-size: 45px;
        margin-bottom: 40px 
   }
   /*
   .design-second-section-col-text {
    font-size: 32px;
   }
   */
   .design-second-section-row-wrapper {
    top: 250px;
}
    
}

@media (max-width: 1800px) {
    .home-title-section-1 {
        font-size: 60px;
        line-height: 60px;
   }
    .home-first-section {
        background-size: 800px auto;
        max-width: 1550px;
        background-position: right -170px top 150px;
        min-height: 900px;
   }
    .home-first-section-text-wrapper {
        left: 70px;
   }
    .home-row-third-section {
        padding-top: 200px;
   }
}
@media (max-width: 1680px) {
    .design-second-section-row-wrapper {
        height: 690px;
        top: 355px;
   }
    .design-second-section-text {
        font-size: 60px;
   }
    .design-second-section-col-button {
        font-size: 45px;
        margin-bottom: 25px 
   }
}

@media (max-width: 1550px) {
    
    .button-welcome {
        margin-top: 35px;
    }

    .design-second-section-fondo-blanco {
        height: 1250px;
    }

    .design-second-section {
        height: 1250px;
    }
}

@media (max-width: 1500px) {
    .web-second-section-fondo-blanco {
        height: 100%;
        width: auto;
      }
    .design-first-section-text-1 {
        font-size: 100px;
        line-height: 100px;
   }
    .design-first-section-text-2 {
        font-size: 41px;
        line-height: 51px;
   }
    .design-first-section-text-3 {
        font-size: 22px;
        line-height: 26px;
   }
    .design-second-section-row-wrapper {
        height: 700px;
   }
   /*
    .design-second-section-col-text {
        font-size: 28px;
   }
   */
    .design-second-section-text {
        font-size: 48px;
   }
    .design-third-section-text {
        font-size: 48px;
        line-height: 48px;
   }
   /*
    .home-third-section-text {
        font-size: 30px;
        line-height: 30px;
   }
   */
    .home-third-section-details-img {
        max-width: 300px;
   }
    .web-first-section-text-1 {
        font-size: 154px;
        line-height: 154px;
   }
    .web-first-section-text-2 {
        font-size: 51px;
        line-height: 51px;
   }
    .web-first-section-text-3 {
        font-size: 26px;
        line-height: 26px;
   }
    .web-second-section-row-wrapper {
        height: 630px;
   }
    .web-second-section-col-text {
        font-size: 28px;
   }
    .web-second-section-text {
        font-size: 48px;
   }
   .us-title {
    font-size: 100px;
    line-height: 100px;
  }

  .us-text-wrapper {
    font-size: 30px;
  }
}

@media (max-width: 1350px) {
    .design-second-section-row-wrapper {
        height: 750px;
    }
}


@media (max-width: 1300px) {
    .design-bottom-position {
        bottom: unset;
        top: 0px;
    }

    .design-second-section-col-button {
        min-width: 250px;
        min-height: 50px;
        font-size: 26px;
    }

}

@media (max-width: 1200px) {
    .design-second-section-col-button {
        height: unset;
   }
    .design-second-section-fondo-blanco {
        width: auto;
        max-height: unset;
        height: 100%;
   }
    .design-second-section-row-wrapper {
        height: 610px;
        top: 400px;
   }
    .design-first-section-text-1 {
        font-size: 70px;
        line-height: 70px;
   }
    .design-first-section-text-2 {
        font-size: 26px;
        line-height: 36px;
   }
    .design-first-section-text-3 {
        font-size: 16px;
        line-height: 18px;
   }
    .web-first-section-text-1 {
        font-size: 109px;
        line-height: 109px;
   }
    .web-first-section-text-2 {
        font-size: 36px;
        line-height: 36px;
   }
    .web-first-section-texwebt-3 {
        font-size: 18px;
        line-height: 18px;
   }

   .design-second-section-text {
       top: 260px;
   }
   
}
@media (max-width: 1020px) {
    .design-first-section-col-1 {
        margin-bottom: 25px;
   }
    .mySwiper {
        display: block;
        top: 100px;
        height: 100%;
        text-align: center;
   }
    .design-third-section-text {
        bottom: calc(100vw * 100 / 1938) 
   }
    .web-first-section-col-1 {
        margin-bottom: 25px;
   }

   .design-third-section-carousel {
    width: calc(100vw * 800 / 1025);
    bottom: calc(100vw * 400 / 1025);
   }
  
}
@media (max-width: 1000px) {

    .design-second-section-text {
        line-height: 50px;
    }


    .web-third-section-div {
        max-height: 400px;
    }

    .web-third-section-text {
        font-size: 70px;
        text-align: center;
    }

    .web-third-section-circulo {
        width: 400px;
        bottom: -150px;
        right: -33px;
    }
    
    .web-third-section {
        min-height: 650px;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        overflow: hidden;
        margin-bottom: 0px;
    }

    .web-second-section-col-button {
        width: 200px;
        height: 50px;
        margin-bottom: 10px;
    }

    .web-second-section-burbuja {
        width: 220px;
    }

    .web-second-section-text {
        font-size: 35px;
        line-height: 35px;
        top: 200px;
        text-align: center;
        left: 0px;
        right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .web-second-section-row-wrapper {
        height: 585px;
        bottom: 110px;
    }
    .bottom-position {
        left: 0px;
        right: 0px;
        bottom: unset;
        top: 0px;
    }
    .home-row-third-section {
        padding-top: 150px;
   }
    .home-first-section {
        background-position: center bottom -165px;
        min-height: 1000px;
   }
    .home-first-section-text-wrapper {
        max-width: 80%;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
   }
   .us-title {
    font-size: 70px;
    line-height: 70px;
  }

  .us-text-wrapper {
    font-size: 21px;
  }

}
@media (max-width: 765px) {

    .design-first-section-col-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .design-second-section-col-button {
        min-width: 200px;
        min-height: 45px;
        font-size: 26px;
    }

    .design-second-section-col-text {
        font-size: 16px;
        line-height: 14px;
    }



    .design-second-section-text {
        top: 200px;
    }

    .web-third-section-text {
        font-size: 45px;
    }

    .web-second-section-row-wrapper {
        bottom: -35px;
    }

    .design-second-section-row-wrapper {
        top: 300px;
   }
    .design-first-section-text-1 {
        font-size: 78px;
        line-height: 78px;
        padding-top: 25px;
   }
    .design-first-section-text-2 {
        font-size: 24px;
        line-height: 30px;
   }
    .design-first-section-text-3 {
        font-size: 17px;
        line-height: 24px;
   }
    .design-third-section-text {
        font-size: 35px;
        line-height: 35px;
   }
    .design-second-section {
        height: 1000px;
   }
    .web-first-section-text-1 {
        font-size: 78px;
        line-height: 78px;
        padding-top: 25px;
   }
    .web-first-section-text-2 {
        font-size: 26px;
        line-height: 26px;
   }
    .web-first-section-text-3 {
        font-size: 14px;
        line-height: 14px;
   }
   .us-title {
    font-size: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .us-text-wrapper {
    font-size: 16px;
  }
}
@media (max-width: 710px) {

    .design-second-section-text {
        font-size: 30px;
        line-height: 35px;
   }
   
    .mySwiper {
        top: 130px;
   }
}
@media (max-width: 600px) {
    .navbar {
        display: block;
   }
    .header {
        display: none;
   }
    .design-third-section-carousel {
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
        width: 100%;
   }
    .home-third-section-title {
        margin-bottom: 0px;
   }
    .home-third-section-big-img {
        margin-top: 30px;
   }
    .home-third-section-small-img {
        margin-top: 20px;
   }
    .home-third-section-title {
        font-size: 60px;
   }
    .home-first-section {
        background-size: 550px auto;
   }
    .home-first-section {
        background-position: center bottom -100px;
        min-height: 750px;
   }
    .home-title-section-1 {
        font-size: 45px;
        line-height: 45px;
   }
    .home-title-section-2 {
        font-size: 20px;
        line-height: 20px;
   }
   /*
    .home-third-section-text {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        line-height: 30px;
   }
   */
    .home-third-section-details-img {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 255px;
   }
    .home-third-section-circulo-img-2 {
        width: calc(100vw * 1000 / 1920);
   }
    .home-animation-postick-2 {
        position: absolute;
        bottom: calc(100vw * 250 / 1920);
        right: calc(100vw * 150 / 1920);
   }
    .home-postick-text {
        bottom: calc(100vw * 250 / 1920);
        right: calc(100vw * 150 / 1920);
   }
    .home-postick-text-1, .home-postick-text-2 {
        font-size: calc(100vw * 70 / 1920);
   }
    .home-animation-postick-1 {
        display: none;
   }
    .home-third-section-small-img {
        width: 160px;
   }
    .home-third-section-big-img {
        width: 220px;
   }
}
@media (max-width: 500px) {

    .design-third-section-text {
        font-size: 23px;
        line-height: 22px;
   }
   .design-second-section-row-wrapper {
       height: 480px;
   }

   .design-second-section-row-wrapper {
       top: 350px;
   }
   
   .design-second-section-text {
       top: 220px;
   }
}
